boto3==1.34.144
botocore==1.34.144
certifi==2024.7.4
charset-normalizer==3.3.2
convertdate==2.4.0
idna==3.7
jmespath==1.0.1
lunardate==0.2.2
polygon-api-client==1.14.2
pyluach==2.2.0
PyMeeus==0.5.12
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
urllib3==1.26.19
websockets==12.0
workalendar==17.0.0
