service: algotrading

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.9
  region: us-west-1
  stackTags:
    project: "algo-trading"
  environment:
    PORTFOLIO_TABLE_NAME: algotrading-portfolios
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ssm:PutParameter"
        - "ssm:GetParameter"
      Resource: "arn:aws:ssm:*:*:parameter/algotrading/*"
    - Effect: "Allow"
      Action:
        - "dynamodb:GetItem"
        - "dynamodb:PutItem"
      Resource: "arn:aws:dynamodb:*:*:table/${self:provider.environment.PORTFOLIO_TABLE_NAME}"
    - Effect: "Allow"
      Action:
        - "sns:Publish"
      Resource: "arn:aws:sns:*:*:algotrading-*"

functions:
  run:
    handler: main.request_handler
    timeout: 900 # 15 minutes
    events:
      - schedule:
          # Cron expression for every weekday (Monday to Friday) at 13:30 UTC
          # Remember to adjust this based on daylight saving time changes if necessary
          rate: cron(30 9 ? * MON-FRI *)
          timezone: America/New_York
          enabled: true

resources:
  Resources:
    PortfolioTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        TableName: ${self:provider.environment.PORTFOLIO_TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: "accountHash"
            AttributeType: "S"
        KeySchema:
          - AttributeName: "accountHash"
            KeyType: "HASH"
        BillingMode: PAY_PER_REQUEST

custom:
  alerts:
    topics:
      alarm:
        topic: algotrading-${self:provider.region}-lambda-errors
        notifications:
          - protocol: email
            endpoint: algotradingrunneralerts@jonathandamico.me # Replace with your email address
    definitions:
      lambdaFunctionErrors:
        description: 'Lambda function errors'
        namespace: 'AWS/Lambda'
        metric: Errors
        threshold: 1
        statistic: Sum
        period: 60 # 60 seconds
        evaluationPeriods: 1
        comparisonOperator: GreaterThanOrEqualToThreshold
    alarms:
      - lambdaFunctionErrors

plugins:
  - serverless-python-requirements
  - serverless-plugin-aws-alerts